/* == Colors == */

/*
 * Syntax highlight colors
 * Based on Material Theme Lighter
 * https://material-theme.site
 */
@color-syntax-red:        var(--syntax-red);
@color-syntax-orange:     var(--syntax-orange);
@color-syntax-yellow:     var(--syntax-yellow);
@color-syntax-green:      var(--syntax-green);
@color-syntax-cyan:       var(--syntax-cyan);
@color-syntax-blue:       var(--syntax-blue);
@color-syntax-paleblue:   var(--syntax-paleblue);
@color-syntax-purple:     var(--syntax-purple);
@color-syntax-brown:      var(--syntax-brown);
@color-syntax-pink:       var(--syntax-pink);
@color-syntax-violet:     var(--syntax-violet);
@color-syntax-grey:       var(--syntax-grey);

/*
 * Syntax highlight colors
 * Based on Material Theme Palenight
 * https://material-theme.site
 */
@color-syntax-red-dark:        var(--syntax-red-dark);
@color-syntax-orange-dark:     var(--syntax-orange-dark);
@color-syntax-yellow-dark:     var(--syntax-yellow-dark);
@color-syntax-green-dark:      var(--syntax-green-dark);
@color-syntax-cyan-dark:       var(--syntax-cyan-dark);
@color-syntax-blue-dark:       var(--syntax-blue-dark);
@color-syntax-paleblue-dark:   var(--syntax-paleblue-dark);
@color-syntax-purple-dark:     var(--syntax-purple-dark);
@color-syntax-brown-dark:      var(--syntax-brown-dark);
@color-syntax-pink-dark:       var(--syntax-pink-dark);
@color-syntax-violet-dark:     var(--syntax-violet-dark);
@color-syntax-grey-dark:       var(--syntax-grey-dark);
