.active {background: #F17EB8;
          color: #FDF2F8}
  
 .active2 {background: #FDF2F8; 
           color: FDF2F8;}

.passive {background: #1E429F;
         color: #E1EFFE}
 .passive-2 {background: #76A9FA;
         color: #EBF5FF}
       
  
