@color-transparent-0:   rgba(255,255,255,0.00);
@color-transparent-50:  rgba(255,255,255,0.01);
@color-transparent-100:  rgba(255,255,255,0.03);
@color-transparent-150:  rgba(255,255,255,0.05);
@color-transparent-200:  rgba(255,255,255,0.08); 
@color-transparent-250:  rgba(255,255,255,0.10);
@color-transparent-300:  rgba(255,255,255,0.11);
@color-transparent-350:  rgba(255,255,255,0.15);
@color-transparent-400:  rgba(255,255,255,0.20);
@color-transparent-450:  rgba(255,255,255,0.25);
@color-transparent-500:  rgba(255,255,255,0.35);
@color-transparent-550:  rgba(255,255,255,0.45);
@color-transparent-600: rgba(255,255,255,0.50);
@color-transparent-650: rgba(255,255,255,0.55);
@color-transparent-700: rgba(255,255,255,0.65);
@color-transparent-750: rgba(255,255,255,0.75);
@color-transparent-800: rgba(255,255,255,0.80);
@color-transparent-850: rgba(255,255,255,0.85);
@color-transparent-900: rgba(255,255,255,0.90);
@color-transparent-950: rgba(255,255,255,0.95);
